{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
<div class="d-flex ms-2 my-2 align-items-center">
    <form enctype="multipart/form-data" action="{{url_for('drugs')}}" method="post">
        <div class="d-flex ms-2 my-2">
            <div class="d-flex mx-2 align-items-center">
                <label for="inputDrug"><b>Лекарство</b></label>
                <input type="text" class="mx-1 form-control border border-primary" id="inputDrug" name="drug" value="{{ drug or '' }}">
            </div>
            <div class="text-center mx-2">
                <button type="submit" class="btn btn-dark">Поиск</button>
            </div>
        </div>
    </form>
    <div class="d-flex justify-content-center mx-5">
        <div class="text-center">
          <a href="{{ url_for('add_drug') }}" class="btn btn-info">Добавить лекарство</a>
        </div>
    </div>
</div>
<table class="table table-bordered table-primary">
    <thead>
        <tr>
            <th>
                №
            </th>
            <th>
                НАЗВАНИЕ
            </th>
            <th>
                СПОСОБ ПРИЁМА
            </th>
            <th>
                ПРЕДПОЛАГАЕМОЕ ДЕЙСТВИЕ
            </th>
            <th>
                ВОЗМОЖНЫЕ ПОБОЧНЫЕ ЭФФЕКТЫ
            </th>
        </tr>        
    </thead>
    <tbody>
        {% for drug in drugs %}
        <tr>    
            <td>
                {{ drug.id }}
            </td>
            <td>
                {{ drug.name}}
            </td>
            <td>
                {{ drug.method}}
            </td>
            <td>
                {{ drug.assumption }}
            </td>
            <td>
                {{ drug.sideeffects }}
            </td>
            <td>
                <button type="button" class="btn btn-danger" data-url="{{ url_for('delete_drug', drug_id = drug.id, drug_name = drug.name)}}" data-bs-toggle="modal" data-bs-target="#deleteModal" data-name="{{ drug.name}}"><i class="bi bi-trash-fill" aria-hidden="true"></i></button>
            </td>    
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Удаление лекарства</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Вы уверены, что хотите удалить лекарство <span class="delete-drug"></span>? 
          <span class="delete-drug"></span>
          <form action="" class="d-none" method="POST">
            <input type="submit" id="submit-delete">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
          <label for="submit-delete" class="btn btn-danger mb-0">Да</label>
        </div>
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='delete.js')}}"></script>
{% endblock %}